.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0 70px;
  background: rgb(48, 188, 201);
}
.columns {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  color: rgb(224, 224, 224);
  font-family: Circe;
  font-size: 14px;
  font-weight: 400;
  line-height: 135%;
  text-align: left;
  text-decoration: none;
}

.link:hover {
  color: rgb(255, 196, 30);
  text-decoration-line: underline;
}
