.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0 70px;
  background: rgb(48, 188, 201);
}
.columns {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  gap: 40px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
