.aboutPage {
  padding: 40px 20px;
  text-align: center;
}

.title {
  font-family: "Circe", sans-serif;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.description {
  font-family: "Plumb-Bold", sans-serif;
  font-size: 16px;
  color: #666;
}

.aboutPage {
  padding: 40px;
  text-align: center;
}

.certified {
  color: green;
}
