@font-face {
  font-family: 'Plumb';
  src: url('../public/font/Plumb Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plumb-Bold';
  src: url('../public/font/Plumb-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('../public/font/Circe-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plumb Regular";
}

h1,
h2 {
  font-family: 'Circe', sans-serif;
}

/* Контейнер всей страницы */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Основной контент растягивается */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Футер уже есть, можешь оставить как есть */