.eventHeader {
  display: flex;
  align-items: center;
  gap: 450px;
}

.headerTitle {
  color: rgb(46, 55, 59);
  font-family: Plumb;
  font-size: 30px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1%;
  text-align: left;
}

.headerEventLink {
  color: rgb(46, 55, 59);
  font-family: Plumb;
  font-size: 21px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1%;
  text-align: right;
  text-decoration-line: underline;
}

.arrowImage {
  margin-left: 15px;
}
