.heroContainer {
  background-image: url("../../../public/img/bgc.png");
  background-size: cover; // Растягиваем картинку на весь контейнер
  background-position: center; // Центрируем картинку
  background-repeat: no-repeat; // Запрещаем повторение фона
  min-height: 100vh;
}
