.aboutPage {
  padding: 40px 20px;
  text-align: center;
  transition: background 0.3s ease, color 0.3s ease;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #1e1e1e;
  color: #ffffff;
}

.title {
  font-family: "Circe", sans-serif;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.description {
  font-family: "Plumb-Bold", sans-serif;
  font-size: 16px;
  color: #666;
}
